.index-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  .account-header{
    height: 160px;
    background-color: #007fff;
    .cost-income{
      padding: 20px;
      display: flex;
      justify-content: space-around;
      font-size: 24px;
      .income-all,.cost-all{
        color: aliceblue;
        &>span{
          font-size: 52px;
        }
      }
      .income-all>span{
        color: green;
      }
      .cost-all>span{
        color: red;
      }
    }
    .cost-search-params{
      font-size: 12px;
      display: flex;
      justify-content: flex-end;
      color: #fff;
      span{
        background-color: red;
        padding: 5px 10px;
        border-radius: 10px;
        margin-right: 20px;
        .za-icon{
          font-size: 10px;
        }
      }
    }
  }
  .account-content{
    height: calc(~"(100% - 50px)");
    overflow: hidden;
    overflow-y: scroll;
    background-color: #f5f5f5;
    padding: 10px;
  }
}